.header {
  background-color: #3AAFDA;
  color: #FFF;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  .title {
    text-align: center;
    min-width: 100%;
    font-family: 'OpenSans-Regular' !important;
    h1 {
      padding: 5px 0 5px 0;
    }
  }
  .right {
    position: absolute;
    right: 0px;
    padding: 14px 25px 10px 0;
    text-align: right;
  }
}




  .cards {
//        display: inline-flex !important;
//        justify-content: space-between;
    //min-width: 100%;
  //margin-left: 10%;
  //justify-content: center;
    .card_block {
      padding-left: 30px !important;
      padding-right: 30px !important;
    .card {
        //margin-left: 20px !important;
        margin-bottom: 15px; 
//        margin-left: 10px;
//        margin-right: 10px;
        //max-width: 30%;
        //min-width: 400px;
        //max-width: 310px;
        height: min-content; 
      
    .card-header {
      padding: 15px;
      font-family: 'OpenSans-Semibold' !important;
      h6 {
        margin-bottom: 0;
      }
    }
    .custom-checkbox {
      line-height: 20px;
      > input {
        margin-right: 5px;
        
      }
      label {
        padding-top: 5px;
        padding-left: 50px;
        color: #000;
        &.isCompleted {
          text-decoration: line-through;
          color: rgba(0,0,0,.26);
        }
      }
    }
    .list-group-item {
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: 'OpenSans-Regular';
    }
  }
  }
}

#addModal_Title{
  width: 100%;
  height: 37px;
  margin-bottom: 5px;
  padding-left: 10px !important;
}

.custom-control-label:after, .custom-control-label:before {
  width: 20px;
  height: 20px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label:before {
  background-color: #3AAFDA;
}

.modal-dialog {
  .modal-content {
    .modal-header {
      text-align: center;
      padding: 15px 10px 15px;
      border-bottom: 1px solid rgba(0,0,0,.125);
      .modal-title {
        width: 100%;
      }
    }
    .modal-body {
      padding: 15px 10px 15px 0;
    }
    .modal-footer {
      justify-content: center;
      padding: 0;
      margin: 5px;
      .btn {
        width: 100%;
        border-radius: 1px;
        background-color: #3AAFDA;
        color: #FFF;
        font-weight: 400;
        &:first-of-type {
          background-color: #9F9F9F;
          margin-right: 5px;
        }
      }
    }
  }
}
